* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #090a0e !important;
  color: white !important;
}

.parent {
  background-color: #090a0e;
  color: white;
}

.header {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.movie-img {
  min-height: 375px;
}

.movie-title {
  font-weight: bold;
  font-size: 0.9rem;
}

.movie-placeholder {
  min-height: 375px;
  background-color: white;
  color: #0f1014;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
}
.movie-placeholder-side {
  min-height: 105px;
  min-width: 70px;
  background-color: white;
  color: #0f1014;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7px;
  font-weight: bolder;
}

.side {
  overflow: hidden;
}

.side-line {
  box-sizing: border-box;
  transition: all ease-in-out 0.4s;
  font-size: 12px;
}

.side-line:hover {
  background-color: #323236;
  cursor: pointer;
}
.details {
  height: 100vh;
  width: 100vw;
}

.poster {
  width: 240px;
  height: 500px;

  background-position: top center;
  background-size: cover;
  border-radius: 15px;

  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.detail {
  display: block;
  padding-top: -100px;
}

.tag {
  border-radius: 5px;
  padding: 0.03rem 0.15rem;
  font-weight: bold;
  text-align: center;
}

.tag.green {
  background-color: #1b5e20;
  color: white;
}

.tag.orange {
  background-color: #f57f17;
  color: white;
}

.tag.red {
  background-color: #7f0000;
  color: white;
}

.cast-name {
  font-size: 10px;
}
